<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons end>
      <button ion-button icon-only color="light" (click)="onSearchMovie()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Cinemaghar</ion-title>
    <ion-buttons start>
      <button ion-button icon-only color="light" (click)="onAboutClick()">
        <ion-icon name="alert"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager autoplay="1900" loop style="height: 200px; background-color: wheat">
    <ion-slide *ngFor="let data of dataForSlider">
      <img [src]="data.imgUrl" [alt]="data.id">
    </ion-slide>
  </ion-slides>

  <ion-toolbar no-border-top color="primary">
    <ion-segment [(ngModel)]="movieType" color="light">
      <ion-segment-button value="movies">
        <ion-icon name="videocam" style="font-size: 24px"></ion-icon>
          <span class="segment-text">Movies</span>
      </ion-segment-button>
      <ion-segment-button value="short">
        <ion-icon name="film" style="font-size: 24px"></ion-icon>
        <span class="segment-text">Short</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="movieType">
    <div *ngSwitchCase="'movies'">
      <ion-row>
        <ion-col col-6 *ngFor="let moviesCategory of moviesCategories">
          <ion-card color="gray" (click)="onShowMoviesList('movies',moviesCategory)">
            <img [src]="moviesCategory.imgUrl" [alt]="moviesCategory.name">
            <ion-row no-padding color="gray">
              <ion-col>
                <h2>{{moviesCategory.name}}</h2>
              </ion-col>
              <ion-col text-right><ion-icon style="font-size: 1.6em" name="arrow-dropright-circle"></ion-icon></ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <ion-list *ngSwitchCase="'short'">
      <ion-row>
        <ion-col col-6 *ngFor="let shortCategory of shortCategories">
          <ion-card color="gray" (click)="onShowMoviesList('movies',shortCategory)">
            <img [src]="shortCategory.imgUrl" [alt]="shortCategory.name">
            <ion-row no-padding color="gray">
              <ion-col>
                <h2>{{shortCategory.name}}</h2>
              </ion-col>
              <ion-col text-right><ion-icon style="font-size: 1.6em" name="arrow-dropright-circle"></ion-icon></ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

</ion-content>
