<ion-header>

  <ion-toolbar color="primary">
    <ion-searchbar (input)="dummySearch($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-fab right bottom>
    <button ion-fab color="danger" (click)="onCloseModal()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
  {{searchedMovie}}
</ion-content>
